{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <title>Change Password</title>
  </head>
  <body>
    <section class="form-column">
      <form method="POST" class="flex-form">
        {% csrf_token %}

        <div class="form-content">
          <h2>Change Your Password</h2>
          <div class="form-items">
            <input
              type="password"
              name="password"
              placeholder="New Password"
              required
            />
          </div>
        </div>

        <button type="submit">Update Password</button>
      </form>
    </section>
  </body>
</html>
