{% comment %} {% extends 'base.html'%} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <title>Login - Attendance System</title>
    
</head>
<body>

    {%block content%}
    <div class="login-container">
        <div class="login-title">
            <h2 >Welcome Back</h2>
            {% comment %} <img src="{% static 'assets/original-ba68e98ea10e1867e831884c3b153387.png' %}" alt="{{ imageAlt }}" />  {% endcomment %}

        </div>
        
        

        <form method="post" action="{% url 'login' %}" class="login-form">
            {% csrf_token %}
            {% if form.errors %}
        <p class="error-message">Invalid username or password</p>
        {% endif %}
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" name="username" id="id_username" required>
            </div>
            
            <div class="form-group">
                <label for="id_password">Password</label>
                <input type="password" name="password" id="id_password" required>
            </div>
            
            <div class="form-group">
                <button type="submit" class="login-btn-auth login-btn">Login </button>

            </div>
            <p >
               Don't have an account? create account <a href="{% url 'register' %}"> register</a>
            </p>
        </form>
    </div>
    {% endblock %}
</body>
</html>
