

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unified Attendance System</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/scan.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/teacher-dashboard.css' %} "> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/teacher-dashboard.css' %} "> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/daily-logs.css' %} ">
    
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{% static 'assets/logo.jpeg' %}" alt="Logo">
                <h1>Unified Attendance Software</h1>
                
            </div>
            <nav class="auth-actions">
                
            <div  class="base-sidebar" id="base-sidebar">
            {% if user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="auth-btn logout-btn">Sign Out</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}" class="auth-btn login-btn">Sign In</a>
                {% endif %}

         </div>
            <div class="base-topbar">
      
            <button class="btn-base" onclick="togglebase()">☰</button>
         </div> 
         
                
            </nav>
        </div>
    </header>


    
    {% block content%}
    <main>

        <section class="hero-section">

            
            <img src="{% static 'assets/staff-attendance-01.png' %}" alt="{{ imageAlt }}" /> 

            <div class="hero-content">
                <div class="hero-text">
                    <h1>Unified Attendance System </h1>
                    <p>
                    Do you know you can automate attendance with 100% accuracy, Zero paper works and completely cheat proof. 
                    </p>
                    <div class="hero-buttons">
                        
                        <a href="{% url 'register' %}" class="btn btn-primary">Get Started</a>
                    
                    {% comment %} <a href="{% url 'register' %}" class="btn btn-primary">Get Started</a>  {% endcomment %}
                    {% comment %} <a href="{{ 'do something' }}" class="btn btn-secondary">Learn More</a> {% endcomment %}
                    </div>
                </div>

                
            </div>
                
        </section >

        <section  class="about">
            <div class="about-image">
                <img src="{% static 'assets/attendance-management-features.webp' %}" alt="{{ imageAlt }}" /> 
            </div> 
            <div class="about-text">
                <h2>What is Unified Attendance System</h2>
                <p>
                    This system is a modern, QR-based attendance tracking platform designed to streamline how institutions monitor presence and punctuality.
                    Built with Django and enhanced by intuitive frontend workflows, it allows users to check in and out seamlessly using QR scans,
                    while securely logging timestamps and geolocation data. Its core purpose is to eliminate manual attendance processes, 
                    reduce errors, and provide real-time insights into staff or student activity. With export features for PDF and Excel, 
                    role-based dashboards, and a clean, professional interface, the system empowers administrators and educators to manage 
                    attendance records efficiently, generate reports instantly, and make data-driven decisions with confidence.
                </p>
                <ul>
                    <h3> How it works</h3>
                    <li>Regiter and Login with your Username and password.</li>
                    <li>Automatically redirected to a check-in page scan to check-in.</li>
                    <li>Go to dashboard</li>
                    <li>After finishing your business</li>
                    <li>Scan the QR code to check-out</li>
                    <li>you are done</li>
                </ul>
            </div>   
        </section> 

        <section class="features">
            <span>Our Features offered</span>
            <div class="features-column">
                

                <div class="features-column-items">
                    <h3>PDF Export</h3>
                   
        
                    <p>
                        Attendance records can be exported and printed out through pdf to ensure authenticity.

                    </p>

                </div> 

                <div class="features-column-items">

                   <h3>Automatic Attendance Tracking</h3>
                    
                    <p>
                       The is no need for a pen and any form of paper to track attendance, all attendance is tracked automatically via QR Code Scanning with geolocation tracking.
                    </p>

                </div> 

                <div class="features-column-items">

                    <h3>Role Base Login</h3>
                     
                     <p>
                        Our system is structured to ensure all users have access only to their role base activity.

                    </p>

                </div> 

                <div class="features-column-items">

                   <h3>In App dashboard time-tracking</h3>
                     
                    <p>
                       We have an in built time tracking feature to help each user track their work time while at work.

                    </p>

                </div> 

                
        </section>
       
    </main>
     {% endblock %}

    <footer>
        
        <p>&copy; {{ now.year }} Unified Attendance Software</p>
    <p><a href="mailto:rexbabitong@gmail.com">Contact Support</a></p>
    </footer>

    <script>
              // Sidebar Toggle
        function togglebase() {
          document.getElementById("base-sidebar").classList.toggle("active");
        }
    </script>
</body>
</html>

