
{% load static%}

{% block content%}
<!DOCTYPE html>
<html>
<head>
  <title>Scan QR Code</title>
  <style>
  #reader {
      width: 300px;
      margin:auto;
      padding: 10px;
      border: 2px solid #2a9d8f;
      border-radius: 8px;
    }
    
    main{
      margin: 2rem auto; 
      padding: 10rem 0;
    }
    
  </style> 
</head>
<body>
  <main>
  <h2 style="text-align:center;">📸 QR Code Scanner</h2>


  <script src="https://unpkg.com/html5-qrcode"></script>

<div id="reader" style="width:300px;"></div>

<script>
const qrCode = new Html5Qrcode("reader");
let hasScanned = false;

qrCode.start(
    { facingMode: "environment" },
    { fps: 10, qrbox: 250 },
    (decodedText) => {


      // prevent multiple scans
        if (hasScanned) return;
        hasScanned = true;
        qrCode.stop(); // Stop camera after successful scan
        console.log(`QR Code scanned: ${decodedText}`);

        // Get GPS
        navigator.geolocation.getCurrentPosition(
            function(position) {

                const lat = position.coords.latitude;
                const lon = position.coords.longitude;

                // Send to backend
                window.location.href =
                    "/scan_qr_auto/?code=" + encodeURIComponent(decodedText) +
                    "&lat=" + lat +
                    "&lon=" + lon;
            },
            function(error) {
                alert("❌ Please enable GPS");
                hasScanned = false; // Allow retry
            }
        );
    },
    
);
</script>









  

  {% comment %} <script>
    const qrCode = new Html5Qrcode("reader");
    // Flag to prevent multiple scans
    let hasScanned = false;

    // Live camera scan
    qrCode.start(
      { facingMode: "environment" },
      {
        fps: 10,
        qrbox: 250
      },
      (decodedText) => {
        if (hasScanned) return;
        hasScanned = true;

        console.log(`Live QR Code scanned: ${decodedText}`);
        window.location.href = "/scan_qr_auto/?code=" + encodeURIComponent(decodedText);
      },
      //(errorMessage) => {
        // Optionally handle scan errors
      //}
    ).catch((err) => {
      alert("❌ Camera scan failed: " + err);
    });

    // File upload scan
    document.getElementById("qr-file").addEventListener("change", e => {
      const file = e.target.files[0];
      if (!file || hasScanned) return;
      hasScanned = true;

      qrCode.scanFile(file, true)
        .then(decodedText => {
          console.log(`Image QR Code scanned: ${decodedText}`);
          window.location.href = "/scan_qr_auto/?code=" + encodeURIComponent(decodedText);
        })
        .catch(err => {
          alert("❌ Couldn't read QR code from file.");
          hasScanned = false; // Allow retry
        });
    });
  </script>

 {% endcomment %}

  {%  endblock %}
</main>
</body>
</html>





