{% load static %} {% comment %} {% extends "base.html" %} {% endcomment %}

<html>
  <head>
    <title>Checked-In</title>
    <link rel="stylesheet" href="{% static 'css/checked.css' %} " />
  </head>
  <body>
    {% block content %}
    <div class="checkin-wrapper">
      <div class="checkin-card">
        <div class="icon">✅</div>

        <h2>Welcome, {{ user.get_full_name|default:user.username }}</h2>

        <p class="message">You have checked in successfully.</p>

        <a href="{% url 'teacher_home' %}" class="btn">
          Go to your dashboard
        </a>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
