{% load static %}

<html>
  <head>
    <title>Wait</title>
    <link rel="stylesheet" href="{% static 'css/checked.css' %} " />
  </head>
  <body>
    {% block content %}
    <div class="checkin-wrapper">
      <div class="checkin-card">
        <div class="icon">🤦‍♂️</div>

        <h2>Not yet time, {{ user.get_full_name|default:user.username }}</h2>

        <p class="message">
          You will be eligible to checkout after 4 hours. keep going!
        </p>

        <a href="{% url 'teacher_home' %}" class="btn">
          Return to your dashboard
        </a>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
